{% extends "main.html" %}


{% block title %} Форум {% endblock %}

{% block second_page_link %}
    <li class="breadcrumb-item active" aria-current="page">
        Форум
    </li>
{% endblock %}


{% block content_title %}

    <h2 class="pb-2 border-bottom">
        Форум
    </h2>

{% endblock %}

{% block content %}

<div class="row row-cols-1  align-items-md-center g-8 py-8">

    {% include "forum/register_panel.html" %}

    <div class=" my-3 p-3 bg-body rounded shadow-sm">
        <div class="row border-bottom">
            <div class="d-flex col-8 text-muted pt-3">
                <h6 class=" pb-2 mb-0">Основные разделы</h6>
            </div>
            <div class="d-flex col-4 text-muted  pt-3">
                <h6 class="pb-2 mb-0">Последние сообщения</h6>
            </div>

        </div>

        {% regroup page by id as page_list %}

        {% for item in page_list %}

            {% for section in item.list|slice:":1" %}
        {#        <p>{{ section }} </p>#}
            <div class="row border-bottom">
                <div class="d-flex col-8 text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                    <p class="pb-3 mb-0 small lh-sm">
                        <a class="nav-link" href="{% url 'forum:section' section.id %}" >
                            <strong class="d-block text-gray-dark"> {{ section.title }} </strong>
                        </a>
                        {{ section.description }}<br>

                        Тем:
                            {% if section.topic__id %} {{ section.num_topics }} {% else %} 0 {% endif %},
                        Сообщений: {{ section.num_messages }}
                    </p>
                </div>
                <div class="d-flex col-4 text-muted  pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                    <p class="pb-3 mb-0 small lh-sm">
                        {% if section.topic__message__user_id__username is not None %}
                        <strong class="d-block text-gray-dark">{{ section.topic__message__user_id__username }}</strong>(участок {{ section.topic__message__user_id__profile__land_plot }})<br>

                        {{ section.topic__message__text }} …<br>
                        {{ section.max__pub_date|date:"D d M Y" }}
                        {% else %}
                        <strong class="d-block text-gray-dark"></strong>
                        Пока нет сообщений.<br>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        {% endfor %}

        {#{% for section in page %}#}
        {#<div class="row border-bottom">#}
        {#    <div class="d-flex col-8 text-muted pt-3">#}
        {#        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>#}
        {#        <p class="pb-3 mb-0 small lh-sm">#}
        {#            <a class="nav-link" href="{% url 'forum:section' section.id %}" >#}
        {#                <strong class="d-block text-gray-dark"> {{ section.title }} </strong>#}
        {#            </a>#}
        {#            {{ section.description }}<br>#}
        {#            Тем: {{ section.num_topics }} , Сообщений: {{ section.num_messages }}#}
        {#        </p>#}
        {#    </div>#}
        {#    <div class="d-flex col-4 text-muted  pt-3">#}
        {#        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>#}
        {#        <p class="pb-3 mb-0 small lh-sm">#}
        {#            <strong class="d-block text-gray-dark">{{ data.author}}</strong>#}
        {#            {{ section.topic__message__text }} …<br>#}
        {#            {{ data.topic__message__pub_date }}#}
        {#        </p>#}
        {#    </div>#}
        {#</div>#}
        {#{% endfor %}#}


        <div class="container-fluid navbar-expand-lg navbar-light bg-light rounded shadow-sm">
            <div class="d-flex mb-2 mt-2">
                <div class="p-2">
                    <a class="nav-link" href="#">Новые сообщения</a>
                </div>
                <div class="p-2">
                    <a class="nav-link" href="#">Ничего нового</a>
                </div>
                <div class="p-2">
                    <a class="nav-link" href="#">Отметить все как прочитанные</a>
                </div>
                <div class="p-2">
                    <a class="nav-link" href="#">Показать непрочитанные темы</a>
                </div>
            </div>
        </div>

        {% include "forum/statistic_panel.html" %}

    </div>
</div>

{% endblock %}
