{% extends "main.html" %}


{% block title %} Форум {% endblock %}

{% block second_page_link %}
    <li class="breadcrumb-item active" aria-current="page">
        Форум
    </li>
{% endblock %}


{% block content_title %}

    <h2 class="pb-2 border-bottom">
        Форум
    </h2>

{% endblock %}

{% block content %}

<div class="row row-cols-1  align-items-md-center g-8 py-8">

    {% include "forum/register_panel.html" %}

    <div class=" my-3 px-4 py-2 bg-body rounded shadow-sm">
        <div class="row border-bottom">
            <div class="d-flex col-8 text-muted pt-2">
                <h6 class=" pb-2 mb-0">Основные разделы</h6>
            </div>
            <div class="d-flex col-4 text-muted pt-2 justify-content-center">
                <h6 class="pb-2 mb-0">Последние сообщения</h6>
            </div>

        </div>

        {% regroup page by id as page_list %}

        {% for item in page_list %}

            {% for section in item.list|slice:":1" %}
        {#        <p>{{ section }} </p>#}
            <div class="row border-bottom">
                <div class="d-flex col-8 text-muted pt-3">

                    <span class="px-3 mt-2">
                        <i class="fa-solid {{ section.icon }} fa-xl" style="color:#f1c232"></i>
                    </span>
                    <p class="pb-3 mb-0 small lh-sm">
                        <a class="nav-link" href="{% url 'forum:section' section.id %}" >
                            <strong class="d-block text-gray-dark"> {{ section.title }} </strong>
                        </a>
                        {{ section.description }}<br>

                        Тем:
                            {% if section.topic__id %} {{ section.num_topics }} {% else %} 0 {% endif %},
                        Сообщений: {{ section.num_messages }}
                    </p>
                </div>
                <div class="d-flex col-4 text-muted pt-3 justify-content-center">

                    {% if section.topic__message__user_id__username is not None %}
                    <div class="d-flex flex-row">
                        {% if section.topic__message__user_id__profile__avatar__image_url %}
                        <div>
                            <img class="avatar" src="{{ MEDIA_URL }}{{ section.topic__message__user_id__profile__avatar__image_url }}"/>
                        </div>
                        {% else %}
                        <div class="px-2">
                            <span class="avatar bg-secondary rounded-3" style="font-size:16px" >
                            {{ section.topic__message__user_id__username|slice:2|upper }}
                            </span>
                        </div>

                        {% endif %}
                        <div class="px-2">
                            <p class="my-0 small lh-sm">
                            <strong class="text-gray-dark">
                                "{{ section.topic__message__text|truncatewords:5 }}"
                            </strong>
                            </p>


                            <p class="small lh-sm">
                                {{ section.topic__message__pub_date|date:"d M Y" }} ,
                                {{ section.topic__message__user_id__username }}
                                (участок {{ section.topic__message__user_id__profile__land_plot__number }})
                            </p>
                        </div>
                    </div>
                    {% else %}
                    <div class="px-2">
                        <p class="pb-3 mb-0 small lh-sm">
                        <strong class="d-block text-gray-dark"></strong>
                        Пока нет сообщений.<br>
                        </p>
                    </div>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        {% endfor %}

        {% if request.user.is_authenticated %}
            {% include "forum/filter_panel.html" %}
        {% endif %}

        {% include "forum/statistic_panel.html" %}

    </div>
</div>

{% endblock %}
