{% extends "main.html" %}

{% block title %}
    {% for item in topic %}
        {{ item.section_id__title }}
    {% endfor %}
{% endblock %}

{% block second_page_link %}

    <li class="breadcrumb-item">
        <a href="{% url 'forum:page' %}">Форум</a>
    </li>
    {% for item in topic %}

    <li class="breadcrumb-item">
       <a href="{% url 'forum:section' item.section_id__id %}">{{ item.section_id__title }}</a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">
        {{ item.title }}
    </li>

    {% endfor %}

{% endblock %}


{% block content_title %}

    <h2 class="pb-2 border-bottom">
        Форум
    </h2>

{% endblock %}


{% block content %}

<div class="row row-cols-1  align-items-md-center g-8 py-8">

    {% include "forum/register_panel.html" %}

    <div class=" my-3 p-3 bg-body rounded shadow-sm">


    {% if request.user.is_authenticated %}
    {% if page %}
        <div class="row border-bottom">
            <div class="d-flex flex-nowrap col-9 text-muted pt-3 mb-0">

                {% for item in topic %}
                <div>
                    <h6 class="mb-1">Название темы:  <strong>{{ item.title }}.</strong></h6>
                    <p class="text-gray-dark"> Описание темы: {{ item.description }}</p>
                </div>
                {% endfor %}

            </div>
            <div class="d-flex col-3 text-muted pt-0 mb-0">
                <div class="d-grid col-6 mx-auto m-5">
                    <a class="btn btn-primary btn-sm" href="{% url 'forum:reply' view.kwargs.section_id view.kwargs.topic_id %}"
                       role="button">Ответить</a>
                </div>
            </div>
        </div>

        <div class="row border-bottom">
            <div class="d-flex col-3 text-muted pt-3">
                <h6 class=" pb-2 mb-0">Автор</h6>
            </div>
            <div class="d-flex col-7 text-muted  pt-3">
                <h6 class="pb-2 mb-0">Сообщения</h6>
            </div>
            <div class="d-flex col-2 text-muted pt-3">
                <h6 class="pb-2 mb-0">Дата</h6>
            </div>
        </div>

        {% for item in page %}

        <div class="row border-bottom">
            <div class="d-flex col-3 text-muted pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <p class="pb-3 mb-0 small lh-sm">
                    {{ item.user_id__username }}, ( участок {{ item.user_id__profile__land_plot }})<br>
                </p>
            </div>
            <div class="d-flex col-7 text-muted  pt-3">
                <p class="pb-3 mb-0 small lh-sm">
                    {{ item.text }}
                </p>
            </div>
            <div class="d-flex col-2 text-muted pt-3">
                <p class="pb-3 mb-0 small lh-sm">
                    {{ item.pub_date }}
                </p>
            </div>
        </div>
        {% endfor %}

    {% else %}

        <div class="row border-bottom">
            <div class="d-flex flex-nowrap col-9 text-muted pt-3">
                {% for item in topic %}
                <div>
                    <h6 class="mb-0">Название темы: <strong>{{ item.title }}</strong></h6>
                    <p class="text-gray-dark">Описание: {{ item.description }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="d-flex col-3 text-muted pt-0">
                <div class="d-grid col-6 mx-auto m-5">
                    <a class="btn btn-primary btn-sm" href="{% url 'forum:reply' view.kwargs.section_id view.kwargs.topic_id %}"
                       role="button">Ответить</a>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="d-flex col-3 text-muted pt-3">
                <h6 class=" pb-2 mb-0">Автор</h6>
            </div>
            <div class="d-flex col-7 text-muted  pt-3">
                <h6 class="pb-2 mb-0">Сообщения</h6>
            </div>
            <div class="d-flex col-2 text-muted pt-3">
                <h6 class="pb-2 mb-0">Дата</h6>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="d-flex col-12 text-muted pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <p class="pb-3 mb-0 small lh-sm">
                    Пока нет сообщений. Будьте первым
                </p>
            </div>

        </div>

    {% endif %}

        <div class="container-fluid navbar-expand-lg navbar-light bg-light rounded shadow-sm">
            <div class="d-flex mb-2 mt-2">
                <div class="p-2">
                    <a class="nav-link" href="#">Новые сообщения</a>
                </div>
                <div class="p-2">
                    <a class="nav-link" href="#">Ничего нового</a>
                </div>
                <div class="p-2">
                    <a class="nav-link" href="#">Отметить все как прочитанные</a>
                </div>
                <div class="p-2">
                    <a class="nav-link" href="#">Показать непрочитанные темы</a>
                </div>
            </div>
        </div>

    {% else %}

        {% include "forum/suggestion_to_register.html" %}

    {% endif %}

        {% include "forum/statistic_panel.html" %}

    </div>
</div>

{% endblock %}