 {% load static %}

    <div class="container-fluid p-0" style="background-color:#eb9b46">
        <div class="row align-items-center container-fluid m-0" style="height: 150px; background-image: url('{% static 'fon.jpg' %}')">
            <div class="col-lg-4 d-flex justify-content-center">
                <div class="site-branding navbar-brand">
                    <h2 class="site-title fs-4">
                        <a class="text-decoration-none" href="https://zolotoi-bor.ru/" rel="home" style="color:#FFFFFF">"МЕЧТА"</a>
                    </h2>
                    <p class="site-description fs-5" style="color:#FFFFFF">Сайт жителей садового товарищества "Мечта"</p>
                </div>
            </div>
        </div>
        <div class="row container-fluid justify-content-md-center">
            <nav class="navbar navbar-expand-lg  navbar-light bg-transparent" aria-label="Main navigation">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for title, url in menu_items %}
                    <li class="nav-item">
                        <a class="nav-link fs-6 fw-semibold text-light" href="{{ url }}">{{ title }}</a>
                    </li>
                {% endfor %}
                </ul>
                <form class="d-flex" role="search" action="{% url 'website:search_results' %}" method="get">
                    <input name="w_q" class="form-control rounded-3 me-2" type="search" placeholder="Поиск по сайту" aria-label="Search">
                    <button class="btn btn-outline-light text-light menu-search-btn rounded-3" type="submit">Поиск</button>
                </form>
            </nav>
        </div>
    </div>