{% extends "forum/forum_category_page.html" %}


{% block page_content %}

<div class="container-fluid col-12">

    <div class="d-flex flex-nowrap col-9 text-muted pt-3 mb-0">
    {% for item in section %}
        <div>
            <h6 class="mb-1">Название раздела:  <strong>{{ item.title }}</strong></h6>
            <p class="text-gray-dark"> Описание: {{ item.description }}</p>
        </div>
    {% endfor %}
    </div>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for field in form %}
            <div class="row mb-3 align-items-center g-2">
                <label class="col-sm-2 col-form-label" for="{{ field.id_for_label }}">
                    {{field.label}}:
                </label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
                <div class="form-error">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
    <button class="btn btn-primary" type="submit">Создать тему</button>
    </form>
</div>

{#{% regroup page by topic as data_list %}#}
{##}
{#{% for data in data_list %}#}
{#<div class="row border-bottom">#}
{#    <div class="d-flex flex-nowrap col-9 text-muted pt-3">#}
{#        <div>#}
{#            <h6 class="mb-0">Название темы:</h6><br>#}
{#            <p class="text-gray-dark"><strong> {{ data.grouper }} </strong></p>#}
{#        </div>#}
{#    </div>#}
{#    <div class="d-flex col-3 text-muted pt-0">#}
{#        <div class="d-grid col-6 mx-auto m-5">#}
{#            <a class="btn btn-primary btn-sm" href="{% url 'forum:reply' %}" role="button">Ответить</a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{##}
{#<div class="row border-bottom">#}
{#    <div class="d-flex col-3 text-muted pt-3">#}
{#        <h6 class=" pb-2 mb-0">Автор</h6>#}
{#    </div>#}
{#    <div class="d-flex col-7 text-muted  pt-3">#}
{#        <h6 class="pb-2 mb-0">Сообщения</h6>#}
{#    </div>#}
{#    <div class="d-flex col-2 text-muted pt-3">#}
{#        <h6 class="pb-2 mb-0">Дата</h6>#}
{#    </div>#}
{#</div>#}
{##}
{##}
{#{% for item in data.list %}#}
{#<div class="row border-bottom">#}
{#    <div class="d-flex col-3 text-muted pt-3">#}
{#        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>#}
{#        <p class="pb-3 mb-0 small lh-sm">#}
{#            <a class="nav-link" href="">#}
{#                <strong class="d-block text-gray-dark"> {{ item.ti }} </strong>#}
{#            </a>#}
{#            {{ item.user_id__username }}, ( участок {{ item.user_id__profile__land_plot }})<br>#}
{#            Тем: {{ section.num_topics }} , Сообщений: {{ section.num_messages }}#}
{#        </p>#}
{#    </div>#}
{#    <div class="d-flex col-7 text-muted  pt-3">#}
{#        <p class="pb-3 mb-0 small lh-sm">#}
{#            {{ item.text }}#}
{#        </p>#}
{##}
{#        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>#}
{#        <p class="pb-3 mb-0 small lh-sm">#}
{#            <strong class="d-block text-gray-dark">{{ data.author}}</strong>#}
{#            {{ data.last_message }} …<br>#}
{#            {{ data.last_message_data }}#}
{#        </p>#}
{#    </div>#}
{#    <div class="d-flex col-2 text-muted pt-3">#}
{#        <p>#}
{#            {{ item.pub_date }}#}
{#        </p>#}
{#    </div>#}
{#</div>#}
{#{% endfor %}#}
{##}
{#{% endfor %}#}


<div class="container-fluid navbar-expand-lg navbar-light bg-light rounded shadow-sm">
    <div class="d-flex mb-2 mt-2">
        <div class="p-2">
            <a class="nav-link" href="#">Новые сообщения</a>
        </div>
        <div class="p-2">
            <a class="nav-link" href="#">Ничего нового</a>
        </div>
        <div class="p-2">
            <a class="nav-link" href="#">Отметить все как прочитанные</a>
        </div>
        <div class="p-2">
            <a class="nav-link" href="#">Показать непрочитанные темы</a>
        </div>
    </div>
</div>

{% endblock %}