<div class="container-fluid navbar-expand-lg navbar-light bg-light rounded shadow-sm">
    <div class="d-flex mb-2 mt-2">
        <div class="p-2">
            <a class="nav-link" href="#">Новые сообщения</a>
        </div>
        <div class="p-2">
            <a class="nav-link" href="#">Ничего нового</a>
        </div>
        <div class="p-2">
            <a class="nav-link mark-all-messages" href="#">Отметить все как прочитанные</a>
        </div>
        <div class="p-2">
            <a class="nav-link" href="#">Показать непрочитанные темы</a>
        </div>
    </div>
</div>