{% extends 'main.html' %}

{% block title %} Страница редактирования профиля {% endblock %}

{% block second_page_link %}

    <li class="breadcrumb-item">
        <a href="{% url 'forum:page' %}">Форум</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Страница редактирования профиля
    </li>

{% endblock %}


{% block content_title %}

    <h2 class="pb-2 border-bottom">
        Страница редактирования профиля
    </h2>

{% endblock %}


{% block content %}

<div class="container-fluid col-6">

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ user_form.non_field_errors }}</div>
        {% for field in user_form %}
            <div class="row mb-3 align-items-center g-2">
                <label class="col-sm-2 col-form-label" for="{{ field.id_for_label }}">
                    {{field.label}}:
                </label>
                 <div class="col-sm-10">
                    {{ field }}
                 </div>
            </div>
            <div class="form-error">
                {{ field.errors }}
            </div>
        {% endfor %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for field in form %}
            <div class="row mb-3 align-items-center g-2">
                <label class="col-sm-2 col-form-label" for="{{ field.id_for_label }}">
                    {{ field.label }}:
                </label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
                <div class="form-error">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}


        <button class="btn btn-lg btn-primary rounded-3" type="submit">Сохранить изменения</button>
    </form>
</div>

{% endblock %}