<div class="d-flex container-fluid navbar-expand-lg navbar-light bg-light rounded shadow-sm p-2">
    {% if request.user.is_authenticated %}
        <div class="nav-item p-2">
             <a class="nav-link" href="{% url 'forum:page' %}">Форум</a>
        </div>
        <div class="nav-item p-2">
             <a class="nav-link" href="{% url 'forum:user_profile' user.profile.slug %}">Профиль</a>
        </div>
        <div class="nav-item p-2">
             <a class="nav-link" href="#">Пользователи</a>
        </div>
        <div class="nav-item p-2">
             <a class="nav-link" href="#">Подписки</a>
        </div>
        <div class="nav-item p-2 me-auto">
             <a class="nav-link" href="#">Новое на форуме</a>
        </div>


        <div class="nav-item pt-1">

            {% if user.profile.avatar.image_url %}
                <img class="avatar " src="{{MEDIA_URL}}{{ user.profile.avatar.image_url }}"/>
            {% else %}
                <span class="avatar bg-secondary rounded-3 " style="font-size:16px">
                    {{ user.username|slice:2|upper }}
                </span>
            {% endif %}
        </div>
        <div class="nav-item p-2">
            {{user.username}}
        </div>
        <div class="nav-item p-2">
            <a class="nav-link" href="{% url 'forum:logout'%}">Выйти</a>
        </div>
    {% else %}
        <div class="nav-item p-2 ms-auto">
            <a class="nav-link" href="{% url 'forum:register' %}">Регистрация</a>
        </div>
        <div class="nav-item p-2">
            <a class="nav-link" href="{% url 'forum:login' %}">Логин</a>
        </div>
    {% endif %}
        <form action="{% url 'forum:search_results' %}" method="get" >
            <input name="f_q" class="form-control rounded-3" type="text" placeholder="Поиск по форуму" aria-label="Search">
        </form>


</div>