{% extends "main.html" %}

{% block title %}
    Страница ответа
{% endblock %}

{% block second_page_link %}

    <li class="breadcrumb-item">
        <a href="{% url 'forum:page' %}">Форум</a>
    </li>
    {% for item in topic|slice:":1" %}
    <li class="breadcrumb-item">
        <a href="{% url 'forum:section' item.section_id__id %}">
            Раздел: {{ item.section_id__title }}
        </a>
    </li>
    <li class="breadcrumb-item">
       <a href="{% url 'forum:topic' item.section_id__id item.id %}">
           Тема: {{ item.title }}
       </a>
    </li>

    {% endfor %}

    <li class="breadcrumb-item active" aria-current="page">
        Страница ответа
    </li>

{% endblock %}

<div class="container">
{% for item in topic %}
    <div>{{ item.title }}</div>
{% endfor %}
</div>

{% block content_title %}

    <h2 class="pb-2 border-bottom">
        Страница ответа
    </h2>

{% endblock %}

{% block content %}

<div class="container-fluid col-12">

    <div class="d-flex flex-nowrap col-9 text-muted pt-3 mb-0">
        {% for item in topic|slice:":1" %}
        <div>
            <h6 class="mb-1">Название темы:  <strong>{{ item.title }}</strong></h6>
            <p class="text-gray-dark"> Описание: {{ item.description }}</p>
        </div>
        {% endfor %}
    </div>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for field in form %}
            <div class="row mb-3 align-items-center g-2">
                <label class="col-sm-2 col-form-label" for="{{ field.id_for_label }}">
                    {{field.label}}:
                </label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
                <div class="form-error">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
    <button class="btn btn-primary rounded-3" type="submit">Оставить сообщение</button>
    </form>
    {% for item in topic %}
        {% if item.item.message__user_id__username is not None %}
            {% if forloop.first %}
                <div class="row border-bottom my-3">
                     <h6 class=" py-2 mb-0">Сообщения в теме отсортированны по новизне.</h6>
                </div>
                <div class="row border-bottom">
                    <div class="d-flex col-3 text-muted pt-2">
                        <h6 class=" pb-2 mb-0">Автор</h6>
                    </div>
                    <div class="d-flex col-7 text-muted  pt-2">
                        <h6 class="pb-2 mb-0">Сообщения</h6>
                    </div>
                    <div class="d-flex col-2 text-muted pt-2">
                        <h6 class="pb-2 mb-0">Дата</h6>
                    </div>
                </div>
            {% endif %}

            <div class="row border-bottom">
                <div class="d-flex col-3 justify-content-start">
                    <div class="p-1">
                        {% if item.message__user_id__profile__avatar__image_url %}
                            <img class="avatar" src="{{ MEDIA_URL }}{{ item.message__user_id__profile__avatar__image_url }}"/>
                        {% else %}
                            <span class="avatar bg-secondary rounded-3" style="font-size:16px">
                                {{ item.message__user_id__username|slice:2|upper }}
                            </span>
                        {% endif %}
                    </div>
                    <div class="pt-3">
                        <p class="pb-3 mb-0 small lh-sm">
                            {{ item.message__user_id__username }}, ( участок {{ item.message_user_id__profile__land_plot }})<br>
                        </p>
                    </div>
                </div>
                <div class="d-flex col-7 text-muted  pt-3">
                    <p class="pb-3 mb-0 small lh-sm">
                        {{ item.message__text }}
                    </p>
                </div>
                <div class="d-flex col-2 text-muted pt-3">
                    <p class="pb-3 mb-0 small lh-sm">
                        {{ item.message__pub_date }}
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}