<div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="row border-bottom">
        <h6 class="border-bottom pb-2 mb-0">Статистика</h6>
    </div>
    <div class="row border-bottom">
        <div class="d-flex col-3 text-muted pt-3">
            <p class="pb-3 mb-0 small lh-sm">
                Темы {{ topics_numbers }}
            </p>
        </div>
        <div class="d-flex col-2 text-muted pt-3">
            <p class="pb-3 mb-0 small lh-sm">
                Сообщений {{ messages_numbers }}
            </p>
        </div>
        <div class="d-flex col-2 text-muted pt-3">
            <p class="pb-3 mb-0 small lh-sm">
                Просмотров
            </p>
        </div>
        <div class="d-flex col-2 text-muted pt-3">
            <p class="pb-3 mb-0 small lh-sm">
                Пользователей
            </p>
        </div>
        <div class="d-flex col-3 text-muted pt-3">
            <p class="pb-3 mb-0 small lh-sm">
                В сети
            </p>
        </div>
    </div>
</div>