{% extends "main.html" %}

{% block second_page_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'articles:page' %}">Новости</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{ page.title }}
    </li>
{% endblock %}


{% block content %}
{#<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-8 py-8">#}
{#    <div class="d-flex flex-wrap align-items-start gap-4">#}
{##}
{#            <div class="card" style="width: 18rem;">#}
{#                <div class="card-body">#}
{#                    {{ page.title }}#}
{#                    {{ page.text }}#}
{#                    {{ page.pub_date }}#}
{#                </div>#}
{#            </div>#}
{##}
{#    </div>#}
{#    <div class="row row-cols-1 row-cols-sm-1 g-2">#}
{#        {% include "right_column.html" %}#}
{#    </div>#}
{#</div>#}
<div class="row row-cols-2 g-8 py-8">
    <div class="col-md-9 align-center">

        <h5>{{ page.title }}</h5>
        <p>{{ page.text }}</p>
        <p>Дата публикации: {{ page.pub_date }}</p>

    </div>
    <div class="col-md-3 align-top">
        {% include "right_column.html" %}
    </div>
</div>
{% endblock %}