{% extends "main.html" %}

{% block title %} {{ page.title}} {% endblock %}

{% block content_title %}
    <h2 class="pb-2 border-bottom">
        {{ page.title}}
    </h2>
{% endblock %}

{% block content %}
    <div class="d-flex flex-row row-cols-2 g-8 py-8">
        <div class="col-md-9 align-center mx-3">

            {{ page.content|safe }}

        </div>
        <div class="vr"></div>
        <div class="col-md-3 align-top mx-3">
            {% include "right_column.html" %}
        </div>
    </div>
{% endblock %}