{% extends 'main.html' %}

{% block title %} Смена пароля {% endblock %}

{% block second_page_link %}

    <li class="breadcrumb-item">
        <a href="{% url 'forum:home' %}">Форум</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Смена пароля
    </li>

{% endblock %}


{% block content_title %}

    <h2 class="pb-2 border-bottom">
        Смена пароля
    </h2>

{% endblock %}

{% block content %}

<div class="container-fluid col-6">
    <p>
    Введите и подтвердите новый пароль для Вашего аккаунта на форуме.
    </p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for field in form %}
            <div class="row mb-3 align-items-center g-2">
                <label class="col-sm-2 col-form-label" for="{{ field.id_for_label }}">
                    {{field.label}}:
                </label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
                <div class="form-error">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}

        <button class="btn btn-primary" type="submit">Установить новый пароль</button>
    </form>

</div>


{% endblock %}