{% extends 'main.html' %}

{% block title %} Завершение смены пароля {% endblock %}

{% block second_page_link %}

    <li class="breadcrumb-item">
        <a href="{% url 'forum:home' %}">Форум</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Завершение смены пароля
    </li>

{% endblock %}


{% block content_title %}

    <h2 class="pb-2 border-bottom">
        Завершение смены пароля
    </h2>

{% endblock %}

{% block content %}

<div class="container-fluid col-6">

    <p>
        Ваш пароль был успешно изменён. <br>
        Используйте его для входа на форум.<br>
        Вы будите перенаправленны на страницу авторизации через несколько секунд. <br>
    </p>

</div>

<script type="text/javascript">

    $(document).ready(function(){
        setTimeout(function() { window.location.href = '{% url 'forum:login' %}';}, 3 * 1000);
    });

</script>


{% endblock %}